/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    margin: 0;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

/* Estilos del menú */
nav {
    background-color: #000; /* Fondo negro */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #0a0; /* Letra verde */
    transition: color 0.3s; /* Transición de color en 0.3 segundos */
}

/* Cambio de color en hover */
a:hover {
    color: #ccc; /* Color gris claro al pasar el mouse */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

