/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #ffffff;
}

header h2 {
    margin: 0;
    font-size: 1.2em;
    color: #e74ac0;
}

main {
    padding: 20px;
}


/* Estilos del menú */
nav {
    background-color: #1827ad; /* Fondo negro */
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al final (derecha) */
    margin-top: 0px;
}


ul {
    list-style: none;
    padding: 20;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #e74ac0; /* Letra verde */
    transition: color 0.3s; /* Transición de color en 0.3 segundos */
}

/* Cambio de color en hover */
a:hover {
    color: #ccc; /* Color gris claro al pasar el mouse */
}

/* Estilos para mostrar la hora */
.hora-local {
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
}

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
   

.main-content {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 1200px;
    width: 90%;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

